.row{
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    
   
}

.frehServis {
    background-color: #012B98;
    padding: 20px;
    font-size: 20px;
    
}

.freshLocation{
    background-color: #174BD0;
    padding: 20px;
    font-size: 20px
}
.FreshArcivment{
    background-color: #386BEF;
    padding: 20px;
    font-size: 20px
}

.link{
    color:white;
}
.link:hover{
    color:rgb(206, 194, 194);
    text-decoration: none;
}

.content-FreshServis{
    background-color: #012B98;
    width: 100%;
    margin: 0px;
    height: 100%;
}

.content-FreshLokation{
    background-color: #174BD0;
    width: 100%;
    margin: 0px;
    height: 100%;
}
.content-FreshArcivment{
    background-color: #386BEF;
    width: 100%;
    margin: 0px;
    height: 100%;
}

.teks{
    padding: 50px;
}

.gambar{
    padding-top: 50px;
    padding-bottom: 70px;
}