.row{
    font-family: 'Nunito Sans', sans-serif;
    color:white;
    
   
}

.WasteServis {
    background-color: #710505;
    padding: 20px;
    font-size: 20px;
    
}

.WasteLocation{
    background-color: #9B0505;
    padding: 20px;
    font-size: 20px
}
.WasteArcivment{
    background-color: #E00202;
    padding: 20px;
    font-size: 20px
}

.link{
    color:white;
}
.link:hover{
    color:rgb(206, 194, 194);
    text-decoration: none;
}

.content-WasteServis{
    background-image: url(../image/image_ot-germany-hamburg_tanks2_1920px\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    height: 100%;
}

.content-WasteLocation{
    background-image: url(../image/image_ot-germany-hamburg_tanks2_1920px\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    height: 100%;
}
.content-WasteArcivment{
    background-image: url(../image/image_ot-germany-hamburg_tanks2_1920px\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0px;
    height: 100%;
}

.teks{
    padding: 50px;
}

.gambar{
    padding-top: 50px;
    padding-bottom: 70px;
}

.CardImage{
    width: 300px;
}